<h1 id="title" class="title">User</h1>


<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>FName</th>
        <th>LName</th>
        <th>Phone</th>
        <th>Address</th>
        <th>UserName</th>
        <th>UserRole</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data">
        <td><span>{{user.id}}</span></td>
        <td><span>{{user.fName}}</span></td>
        <td><span>{{user.lName}}</span></td>
        <td><span>{{user.phone}}</span></td>
        <td><span>{{user.address}}</span></td>
        <td><span>{{user.username}}</span></td>
        <td><span>{{user.userRole}}</span></td>
        <td><span>
            <button (click)="delete(user.id)">
              Delete
            </button>
          </span></td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>
<br>

<form (ngSubmit)="create()" [formGroup]="checkoutForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="fname">FName:</label>
    <input nbInput id="fname" formControlName="fname" name="FName" placeholder="FName" autofocus fullWidth
      fieldSize="large">
  </div>
  <div class="form-control-group">
    <label class="label" for="lname">LName:</label>
    <input nbInput id="lname" name="LName" formControlName="lname" placeholder="LName" autofocus fullWidth
      fieldSize="large">
  </div>

  <div class="form-control-group">
    <label class="label" for="phone">Phone:</label>
    <input nbInput id="phone" name="Phone" formControlName="phone" placeholder="Phone" fullWidth fieldSize="large">
  </div>

  <div class="form-control-group">
    <label class="label" for="address">Address:</label>
    <input nbInput id="address" name="Address" formControlName="address" placeholder="Address" fullWidth
      fieldSize="large">
  </div>

  <div class="form-control-group">
    <label class="label" for="username">UserName:</label>
    <input nbInput id="username" name="username" formControlName="username" placeholder="UserName" fullWidth
      fieldSize="large">
  </div>

  <div class="form-control-group">
    <label class="label" for="password">Password:</label>
    <input nbInput type="password" id="password" formControlName="password" name="password" placeholder="Password"
      fullWidth fieldSize="large">
  </div>



  <button nbButton fullWidth status="primary" size="large" [disabled]="submitted" [class.btn-pulse]="submitted">
    Create Admin
  </button>
</form>